@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;1,300&family=Roboto&display=swap');

body {
  background-color: #212121;
}
/* #212121 */
.mapcard {
  width: 420px;
  height: 220px;
  margin: 10px;
  box-sizing: 0px 0px 10px 2px grey;
  background-size: cover;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}
.videoCard {
  width: 570px;
  height: 350px;
  margin: 10px;
}
.kitLocationTitle {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-left: 15px;
}
.locationCard {
  background-size: cover;
  margin-bottom: -5px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.place {
  margin-left: 10px;
  color: #fff;
}

.ct,
.t {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  font-weight: 600;
  font-size: 0px;
  font-family: 'Roboto', sans-serif;
}
.ct:hover,
.t:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.4s;
  color: #dadada;
  font-size: 1.5em;
}

.t,
.t:hover {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.ct,
.ct:hover {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  width: 100%;
}

.overbox {
  margin-left: 20px;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #fff;
}
.bymaps {
  font-size: 0.75em;
  font-weight: 200;
}
.rowTitle {
  display: flex;
  flex-direction: row;

  font-size: 1.4em;
}

.rowmaps {
  display: flex;
  flex-direction: row;
  padding-left: 1em;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #111;
  height: auto;
  width: 100%;
  padding: 20px;
  color: #fff;
  text-align: center;
}
.footer-content {
  display: flex;
  justify-content: center;
  text-align: center;
  text-align: center;
  flex-direction: column;
}
.footer-content h3 {
  font-family: Permanent Marker;
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
.designer,
.footer-text {
  text-decoration: none;
  color: #b44d4d;
  font-size: 17px;
  font-family: Reggae One;
}
.footer-text {
  color: #fff;
}
.designer:hover {
  transition: 0.5ms;
  color: #993434;
}

hr {
  color: #fff;
  height: 10em;
}


/* Bootstrap Edits */
.bg-dark {
  background-color: #2f2f2f !important;
}
.navbar-brand {
  font-family: Permanent Marker;
  font-size: 2.5em;
}
.nav-link {
  font-size: 1.5em;
  margin-top: 5px;
  font-family: 'Josefin Sans', sans-serif;
}
.container-lg{
  margin: 0;
}



@media screen and (max-width: 1000px) {
  .siteTitle {
    padding-left: 0.5em;
    padding-top: 0.5em;
  }
  .siteTitle > h2 {
    font-size: 2.4em;
  }
  .rowmaps {
    flex-direction: column;
    padding-left: 10px;
  }
  footer {
    position: relative;
  }
  .box {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .mapcard {
    width: 300px;
    height: 180px;
  }
  .ct,
  .t {
    font-size: 1em;
  }
  .kitLocationTitle{
    flex-direction: column;
    margin-top: 30px;
  }
  .videoCard{
    height: 200px;
    width: 300px;
    margin: 0;
  }
  .place{
    margin: 0;
  }
}
